.about{
    height:50rem;
    width:100%;
    position: relative;
    &__sec{
        &-1{
            height:100%;
            width:50%;
            position: absolute;
            text-align: center;
        }
        &-2{
            height:100%;
            width:50%;
            position: absolute;
            left:50%;
            text-align: center;
        }
    }
    &__heading{
        height:80%;
        width:90%;
        margin-top:5rem;
        text-align: left;
        margin-left:3rem;
        &-main{
            font-size: 5rem;
            color: $color-white;
            font-weight: 300;
            letter-spacing: 5px;
            &-name{
                color: $color-light-brown;
                letter-spacing: 5px;
            }
            &-text{
                &-1{
                    font-size: 2rem;
                    color:$color-grey-2;
                    margin-top: 9px;
                    font-weight: 300;
                    letter-spacing: 1px;
                }
                &-2{
                    font-size: 2rem;
                    color:$color-grey-2;
                    margin-top: 25px;
                    font-weight: 300;
                    letter-spacing: 1px;
                }
                &-3{
                    font-size: 2rem;
                    color:$color-grey-2;
                    margin-top: 25px;
                    font-weight: 300;
                    letter-spacing: 1px;
                }
            }
        }
    }
    &__image{
        height:70%;
        width:80%;
        margin-top: 7rem;
        transition: all .4s;
        &:hover{
            transform: scale(0.95);
        }
    }
    &__loc{
        height: 5rem;
        width: 22rem;
        position: absolute;
        top: 39.5rem;
        background-color: $color-grey-3;
        left: 28rem;
        font-weight: 300;
        color: white;
        padding-top: 12px;
        font-size: 1.5rem;
        letter-spacing: 4px;
    }
}