.news {
    height: 60rem;
    width: 100%;
    position: relative;
    margin-top: 10rem;
    &__image-part {
        &-1 {
            width: 54rem;
            height: 38rem;
            position: absolute;
            left: 30px;
            top: 12rem;
            text-align: center;
            background-image: url("/img/banner2.jpg");
            background-position: cover;
            background-size: cover;
            overflow-x: hidden;
            opacity: 1;
            transition: all 0.4s;
            &:hover {
                opacity: 0.6;
            }
        }
        &-2 {
            width: 54rem;
            height: 38rem;
            position: absolute;
            left: 628px;
            top: 12rem;
            text-align: center;
            background-image: url("/img/1.jpg");
            background-position: cover;
            background-size: cover;
            overflow-x: hidden;
            opacity: 1;
            transition: all 0.4s;
            &:hover {
                opacity: 0.6;
            }
        }
    }
    &__box {
        &-1 {
            height: 10rem;
            width: 52rem;
            position: absolute;
            left:20px;
            border: solid red;
            z-index: 5;
            margin: -120px 20px 75px;
            padding: 15px 15px 25px 15px;
            background-color: #323232 !important;
            border: 1px solid #323232;
            border-radius: 1rem;
            overflow: hidden;
            -webkit-transition: 0.2s cubic-bezier(0.3, 0.58, 0.55, 1);
            transition: 0.2s cubic-bezier(0.3, 0.58, 0.55, 1);
            bottom: -55px;
            
        }
        &-2 {
            height: 10rem;
            width: 52rem;
            position: absolute;
            left: 618px;
            border: solid red;
            z-index: 5;
            margin: -120px 20px 75px;
            padding: 15px 15px 25px 15px;
            background-color: #323232 !important;
            border: 1px solid #323232;
            border-radius: 1rem;
            overflow: hidden;
            -webkit-transition: 0.2s cubic-bezier(0.3, 0.58, 0.55, 1);
            transition: 0.2s cubic-bezier(0.3, 0.58, 0.55, 1);
            bottom: -55px;
            
        }
    }
    &__heading{
      &-1{
        font-size: 16px;
        color:$color-grey-2;
        font-weight: 400;
        margin-bottom: 0;
        letter-spacing: 1px;
      }
      &-2{
        color: #b19777;
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        margin-bottom: 0px;
        letter-spacing: 1px;
      }
    }
}
.news__image-part-1:hover ~ .news__box-1{
    bottom: 3rem;
}
.news__image-part-2:hover ~ .news__box-2{
    bottom: 3rem;
}